html,body {
  margin: 0;
  height: 100%;
}
a {
  text-decoration: none;
}

.picker-item.picker-selected
{
  font-weight: 700;
}
.picker-slot{
  width: 100%;
}
.picker-center-highlight:before, .picker-center-highlight:after {
  content: '';
  position: absolute;
  height: 2px;
  width: 100%;
  background-color: #595959;
  display: block;
  z-index: 15;
  
  -webkit-transform: scaleY(0.5);
  transform: scaleY(0.5);
}

.appheader{
  background-color:"#2196f3";

}
.appheader h1{
  font-weight: bold;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 56px;
  box-sizing: border-box;
  padding: 8px 4em;
  line-height: 40px;
  text-align: center;
  color: #fff;
  background: #03A9F4;
}
.headerback
{
  font-size: 22px !important;
}
.header .link {
  position: absolute;
  top: 8px;
  color: #fff;
} 
.header .right {
  right: 10px;
}
.header .left {
  left: 10px;
}

.outLeftInRight-transition,
.fadeOutLeft-transition, 
.fadeInLeft-transition {
  transition: transform .3s ease-in-out;
}
/* 进入时的状态，从右开始 */
.outLeftInRight-enter,
.fadeInLeft-enter,
.fadeInLeft-leave {
  transform: translateX(100%);
}
/* 离开时的状态，向左移动 */
.outLeftInRight-leave,
.fadeOutLeft-enter,
.fadeOutLeft-leave {
  transform: translateX(-100%);
}



.page-loadmore-desc {
    text-align: left;
    color: #666;
    padding-bottom: 1px;    
}

.page-loadmore-wrapper {
    overflow-y: auto;
    height: 100%;
}
.slide-fade-enter-active {
  transition: all .5s ease;
}
.slide-fade-enter, .slide-fade-leave-to
/* .slide-fade-leave-active for <2.1.8 */ {
  transform: translateX(0px);
  opacity: 0;
}